body
{
	
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}

#main-info
{
	vertical-align: top;
	border: solid black;
	float: left;
	width: 627px;
}

#main-table
{
	border: solid black;
	vertical-align: top;
	display: table;
}


#aside-info
{
	display: table-cell;
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	border: solid black;
	display: table-cell;
	height: 368px;
	padding: 20px;
	margin: 10px;
	verical-align: top;
}

#navigation
{
	margin-right: 10px;
	border: solid black;
	vertical-align: top;
	display: table-cell;
	padding: 10px;
	width: 125px;
	float: left;
	height: 400px;
}

#sidelinks a:link
{
	font-size: 16px;
	display: block;
    font-weight: bold;
    color: white;
    background-color: #66CCFF;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#sidelinks a{
	color: white;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}