body
{
	 
	background: #a0a0a0;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}

#main-info
{
	display: table-cell;
	vertical-align: top;
	border: solid black;
	background: #dddddd; 
	float: left;
	width: 525px;
	height: 361px;
	padding: 10px;
	overflow: auto;
}

#main
{
	display: table-cell;
	vertical-align: top;
	
	
	float: left;
	width: 555px;
	height: 356px;

}

#main-table
{
	border: solid black;
	vertical-align: top;
	display: table;
}


#aside-info
{
	background: #dddddd;
	height:410px;
	border: solid black;
	vertical-align: top;
	
	width: 180px;
	
	padding: 5px;
	margin-left: 3px;
	overflow: auto;
}
	


#navigation
{
	margin-left: 3px;
	text-align: center;
	margin-right: 3px;
	border: solid black;
	background: #dddddd;
	vertical-align: top;
	display: table-cell;
	padding: 10px;
	width: 100px;
	float: left;
	height: 400px;
}

#sidelinks a:link
{
	font-size: 13px;
	
    font-weight: bold;
    color: white;
    background-color: #66CCFF;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#sidelinks a{
	color: white;
	
	
}

#sub-navigation
{

	border: solid black;
	background: #dddddd;	
	padding: 5px;
	width: 535px;
	float: left;
	height: 18px;
	font-size: 14px;
	margin-bottom: 5px;
	
}

#sub-navigation a{
	font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #9147DA;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#aside-title-audio
{
	background: #666666;
	width: 140px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
	border: solid black;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	
	height: 200px;
	width: 150px;
}

audio
{
	width: 130px;
	
}

#quiz-link {
	display: none;
}

#banner{
	
}
#all {
	width:900;
	margin-left: 7px;
	
}

